*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
table{
    height: 100vh;
    background-color: #f8f8f8;
    float: right;
    justify-content: center;
    align-items: center;
}
.container{
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    background-color: rgb(151, 81, 207);
}
.header h1{
    color: white;
    padding: 15px;

}
.body{
    flex: 1;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 30px;

}
.message{
    background-color: rgb(151, 81, 207);
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}
.user_message{
    margin-left: auto;
    background-color: white;
    color: black;
}
.fouter form{
    display: flex;


}
.inpu{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
}
.butt{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(151, 81, 207);
    color: white;
    cursor: pointer;
}
.butt:hover{
    background-color: rgb(100, 100, 145);
    transition: 0.2s ease;
}